{
    "extends": ["airbnb", "airbnb/hooks"],
    "globals": {
        "document": true,
        "describe": true,
        "it": true,
        "expect": true
    },
    "rules": {
        "indent": ["error", 4, { "SwitchCase": 1 }],
        "react/jsx-indent": ["error", 4],
        "react/jsx-filename-extension": ["warn", { "extensions": [".js", ".jsx"] }],
        "comma-dangle": ["error", "never"],
        "max-len": ["error", 150]
    }
}
